<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>北京第零世界科技有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Link Swiper's CSS -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <!--2020.04.04全国抗击疫情哀悼日灰色背景-->
    <style>
        .gray{
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
            _filter: none;
        }
    </style>
    <!-- Demo styles -->
</head>
<body>

    <!--网页顶部导航块-->
    <div class="head_nav">
            <div class="logo"><img src="{% static 'img/Logo.png' %}" alt="logo" height="100%"></div>
            <div class="title_link">
                <ul>
                    <li class="li"><a href="/home/index#index" class="active" id="index_head">首页</a></li>
                    <li class="li"><a href="/home/index#game" id="game_head">游戏</a></li>
                    <li class="li"><a href="/home/index#news" id="news_head">行业资讯</a></li>
                    <li class="li"><a href="/home/index#about" id="about_head">关于我们</a></li>
                </ul>
                <div class="hide_title"><img src="{% static 'img/hide_title.png' %}" style="height: 1.5rem;margin-top: 0.5rem;"></div>
            </div>
        </div>


    <!--网页右边导航块-->
    <div class="right_nav">
            <div class="right_up"></div>
            <ul>
                <li class="li" id="right_li_1"><a href="/home/index#index" id="index_right"></a><hr id="index_hr" class="right_hr"></li>
                <li class="li" id="right_li_2"><a href="/home/index#game" id="game_right"></a><hr id="game_hr" class="right_hr"></li>
                <li class="li" id="right_li_3"><a href="/home/index#news" id="news_right"></a><hr id="news_hr" class="right_hr"></li>
                <li class="li" id="right_li_4"><a href="/home/index#about" id="about_right"></a><hr id="about_hr" class="right_hr"></li>
            </ul>
            <div class="right_down"></div>
    </div>


    <!--最外层body很重要，对footer的绝对定位有重要作用，不然footer没有参考-->
    <div id="body_con" class="body_con">
        <!--网页主题内容-->
        <div class="body_container">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-hash="index">
                        <div class="index_con">
                            <div class="index_line">
                                <img class="index_line_cut" src="{% static 'img/index_line.png' %}">
                                <div class="index_logo">
                                    <img src="{% static 'img/index_logo.png' %}">
                                </div>
                                <div class="index_text">
                                    <span>北京第零世界科技有限公司</span><br>
                                    <span class="to">—— &nbsp;献给热爱游戏的你</span>
                                </div>
                            </div>
                            <div class="index_img">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="index_footer">
                                <div style="position:relative;bottom:-0.8rem;"><img src="{% static 'img/index_name_logo.png' %}" style="width:20%;"></div>
                                <img src="{% static 'img/index_footer.png' %}" style="width:80%;">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="game">
                        <div class="game_show" id="game_show">
                            <div class="game_con">
                                <div class="name_logo" id="name_logo">
                                    <img style="height:9rem; width:28rem;" src="{% static 'img/name_logo.png' %}">
                                </div>
                                <div class="game_text" id="game_text">
                                    <div class="game_video" id="game_video">
                                        <img src="{% static 'img/game_video.png' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="game_dinosaur">
                            <img style="width:24rem;height:37rem;" src="{% static 'img/game_dinosaur.png' %}">
                        </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="news">
                        <div class="news_box">
                            <!-- 缩略图-->
                            <div class="swiper-container thumbs" id="thumbs">
                                 <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="">
                                            <img class="thumbs_img swiper-lazy" id="thumbs_img_1" alt="news_1">
                                            <span class="thumbs_title" id="thumbs_title_1"></span>
                                        </div>
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="">
                                            <img class="thumbs_img swiper-lazy" id="thumbs_img_2" alt="news_2">
                                            <span class="thumbs_title" id="thumbs_title_2"></span>
                                        </div>
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="">
                                            <img class="thumbs_img swiper-lazy" id="thumbs_img_3" alt="news_3">
                                            <span class="thumbs_title" id="thumbs_title_3"></span>
                                        </div><div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="">
                                            <img class="thumbs_img swiper-lazy" id="thumbs_img_4" alt="news_4">
                                            <span class="thumbs_title" id="thumbs_title_4"></span>
                                        </div><div class="swiper-lazy-preloader"></div>
                                    </div>
                                     <div class="swiper-slide">
                                        <div class="">
                                            <img class="thumbs_img swiper-lazy" id="thumbs_img_5" alt="news_4">
                                            <span class="thumbs_title" id="thumbs_title_5"></span>
                                        </div><div class="swiper-lazy-preloader"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 完整图-->
                            <div class="img_box_bg">
                            <div class="swiper-news">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="img_box_con">
                                            <span class="img_box_title" id="title_1"></span>
                                                <div class="img_box" id="img_box_1">
                                                <a target="_blank" id="news_id_1">
                                                    <img class="news_img swiper-lazy" id="news_1" alt="news_1"></a>
                                                </div>
                                        </div>
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="img_box_con">
                                            <span class="img_box_title" id="title_2"></span>
                                        <div class="img_box" id="img_box_2">
                                        <a target="_blank" id="news_id_2">
                                            <img class="news_img swiper-lazy" id="news_2" alt="news_2"></a>
                                        </div>
                                        </div>
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="img_box_con">
                                            <span class="img_box_title" id="title_3"></span>

                                        <div class="img_box" id="img_box_3">
                                        <a target="_blank" id="news_id_3">
                                            <img class="news_img swiper-lazy" id="news_3" alt="news_3"></a>
                                        </div>

                                        </div>
                                            <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="img_box_con">
                                            <span class="img_box_title" id="title_4"></span>
                                        <div class="img_box" id="img_box_4">
                                        <a target="_blank" id="news_id_4">
                                            <img class="news_img swiper-lazy" id="news_4" alt="news_4"></a>
                                        </div>
                                        </div>
                                            <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="img_box_con">
                                            <span class="img_box_title" id="title_5"></span>

                                        <div class="img_box" id="img_box_5">
                                        <a target="_blank" id="news_id_5">
                                            <img class="news_img swiper-lazy" id="news_5" alt="news_4"></a>
                                        </div>

                                        </div>
                                            <div class="swiper-lazy-preloader"></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="button_div">
                                <button type="button" id="prev_news" class="button_news button_news_prev"><font style="font-size:1.8rem;">&larr;</font>上一个</button>
                                <a href="/news/news_more"><button type="button" id="news_more" class="button_news button_news_more">
                                    查看更多</button></a>
                                <button type="button" id="next_news" class="button_news">下一个<font style="font-size:1.8rem;">&rarr;</font></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-hash="about">
                        <div class="about_box">
                        <div class="about_us">
                        <h2 style="font-size:24px;margin-top:8rem;">关于我们</h2>
                            <p>北京第零世界科技有限公司成立于2018年1月，企业围绕"诚信透明、主动担当、工匠精神、活力进取"四大文化，致力于精品游戏研发。</p>
                        </div>
                        <div class="contact_us">
                            <h2 style="font-size:24px;margin-top:-5rem;">联系我们</h2>
                            <p>地址： 北京市朝阳区建国路15号院甲1号北岸1292三间房创意生活园区9-7291</p>
                            <p>邮箱：</p>
                        </div>
                            </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!--页面底部滑入式页尾-->
            <div id="box_footer" class="box_footer">
                <footer id="footer" class="footer">
                    <div class="box">
                        <div class="content">
                            <p>
                                <a href="/home/supervisor" target="_blank">家长监护工程</a><span>|</span>
                                <a href="/home/dispute" target="_blank">纠纷处理</a>
                            </p>
                            <p><span>网络文化经营许可证： 京网文[2019]3669-352京ICP证: 京B2-20191828</span></p>
                            <p><span>京ICP备 19009550号 ©2019-2020 北京第零世界科技有限公司 版权所有</span></p>

                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <div style="position:absolute;bottom:0;left:50%;"><img src="{% static 'img/PageDown.png'%}"></div>
    </div>
    <div id="bg_img" class="bg_img active_img"></div>
    <!-- Swiper JS -->
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper-nav-page.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/public.js' %}"></script>

</body>
</html>
