{% extends 'base.html' %}
{% load static %}
{% block title %}北京第零世界科技有限公司{% endblock title %}

{% block body %}
<div class="body">
    <div class="news_graphic"></div>
    <div class="news_change">
        <div class="pre_next">
            <ul>
                <li><a href="#">上一张</a></li>
                <li><a href="#">下一张</a></li>
            </ul>
        </div>
        <div class="more">
            <ul>
                <li><a href="#">查看更过</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}