<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>北京第零世界科技有限公司</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/public.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.min.css' %}" />
    <!--2020.04.04全国抗击疫情哀悼日灰色背景-->
    <style>
        .gray{
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
            _filter: none;
        }
    </style>
</head>
<body>

<div id="body" class="body">
    <div class="container">
        <div id="bg" class="bg">
            <!--<div style="background:url('#');" data-type="从零开始"></div>-->
            <div class="bg_news" data-type="news"></div>
            <div class="bg_game" data-type="game"></div>
            <div class="bg_about" data-type="about"></div>
        </div>
        <div id="home_swiper" class="swiper-container home_swiper home_stop">
            <div class="swiper-wrapper home_wrapper">
                <div class="swiper-slide home_slide" data-hash="index">
                    <div class="box_index">
                        <div class="index_text"></div>
                        <div id="index_swiper" class="swiper-container index_swiper index_stop">
                            <div class="welcome"></div>
                            <div class="swiper-wrapper index_wrapper">
                                <div class="swiper-slide index_slide" data-type="从零开始">
                                    <div class="content">
                                            <div class="title_en">
                                                <img src="#">
                                            </div>
                                            <div class="title_zh">
                                                <img src="#">
                                                <div class="box_play_video">
                                                    <a class="btn btn_play_video" href="javascript:void(0);"
                                                       data-src="#">mp4</a>
                                                </div>
                                            </div>
                                            <i class="decoration a_add"></i>
                                            <div class="text">
                                                <div class="box_scale">

                                                </div>
                                            </div>
                                            <i class="decoration a_min"></i>
                                            <a class="btn btn_open" href="#" target="_blank">
                                                <span>观看更多<i></i></span>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="box_index_nav">
                            <div class="decoration b_0">
                                <i></i><i></i><i></i><i></i>
                            </div>
                            <div id="nav_index_swiper" class="swiper-container nav_index_swiper nav_index_stop">
                                <div class="swiper-wrapper nav_index_wrapper">
                                                                        <div class="swiper-slide nav_index_slide">
                                            <div class="img">
                                                <img src="#">
                                            </div>
                                        </div>
                                                                        <div class="swiper-slide nav_index_slide">
                                            <div class="img">
                                                <img src="#">
                                            </div>
                                        </div>

                                </div>
                            </div>
                            <a id="btn_index_prev" class="decoration d_prev"
                               href="javascript:void(0);">
                                <div class="circle"></div>
                                <div class="arrow"></div>
                            </a>
                            <a id="btn_index_next" class="decoration d_next"
                               href="javascript:void(0);">
                                <div class="circle"></div>
                                <div class="arrow"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide home_slide" data-hash="news">
                    <div class="box_news">
                        <script type="text/html">
                            <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="/article/3560.html" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#">jpg</div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="/article/3560.html" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="/article/3560.html" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>
                                    <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="#" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#">jpg</div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="#" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="#" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>
                                                        <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="#" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#"></div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="#" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="#" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>
                                                        <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="#" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#">jpg</div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="#" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="#" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>
                                                        <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="#" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#">jpg</div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="#" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="#" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>
                                                        <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="#" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#">jpg</div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="#" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="#" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>
                                                        <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="#" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#"></div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="#" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="#" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>

                        </script>
                        <script type="text/html">
                            <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="/article/3560.html" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#"></div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="/article/3560.html" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="/article/3560.html" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>
                                                        <div class="swiper-slide news_slide">
                                    <div class="box_img">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="img" href="/article/3554.html" target="_blank">
                                            <i></i><i></i><i></i><i></i>
                                            <div class="i news_lazy" data-background="#"></div>
                                            <div class="title">
                                                <p><span></span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="box_text">
                                        <div class="decoration b_0">
                                            <i></i><i></i><i></i><i></i>
                                        </div>
                                        <a class="brief" href="/article/3554.html" target="_blank">
                                            <p><span></span></p>
                                        </a>
                                        <a class="btn btn_more" href="/article/3554.html" target="_blank">
                                            READ MORE<i class="decoration a_add"></i>
                                        </a>
                                    </div>
                                </div>

                                </div>

                        </script>
                        <div id="news_swiper" class="swiper-container news_swiper news_stop">
                            <div class="swiper-wrapper news_wrapper"></div>
                        </div>
                        <div id="news_nav_swiper" class="swiper-container news_nav_swiper news_nav_stop">
                            <div class="swiper-wrapper news_nav_wrapper">
                                <div class="swiper-slide news_nav_slide">
                                    <a class="btn btn_nav" href="javascript:void(0);" data-type="latest">
                                        <p>最新<i></i></p>
                                        <span>LATEST</span>
                                    </a>
                                </div>
                                <div class="swiper-slide news_nav_slide">
                                    <a class="btn btn_nav" href="javascript:void(0);" data-type="hot">
                                        <p>热门<i></i></p>
                                        <span>HOT</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a id="btn_news_nav_prev" class="btn_news_nav_prev" href="javascript:void(0);"></a>
                        <a id="btn_news_nav_next" class="btn_news_nav_next" href="javascript:void(0);"></a>
                        <a id="btn_news_prev" class="decoration d_prev"
                           href="javascript:void(0);">
                            <div class="circle"></div>
                            <div class="arrow"></div>
                        </a>
                        <a id="btn_news_next" class="decoration d_next"
                           href="javascript:void(0);">
                            <div class="circle"></div>
                            <div class="arrow"></div>
                        </a>
                        <a class="btn btn_open" href="/news.html">
                            <span>查看更多<i></i></span>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide home_slide" data-hash="game">
                    <div class="box_game">
                        <div id="game_swiper" class="swiper-container game_swiper game_stop">
                            <div class="swiper-wrapper game_wrapper">
                                                                <div class="swiper-slide game_slide" data-type="凹凸世界手游">
                                        <div class="box_img">
                                            <div class="decoration b_0">
                                                <i></i><i></i><i></i><i></i>
                                            </div>
                                            <a class="img" href="#" target="_blank">
                                                <i></i><i></i><i></i><i></i>
                                                <div class="i game_lazy"
                                                     data-background="#"></div>
                                                <div class="title">
                                                    <p><span></span></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="box_text">
                                            <div class="decoration b_0">
                                                <i></i><i></i><i></i><i></i>
                                            </div>
                                            <a class="brief" href="#" target="_blank">
                                                <p><span></span></p>
                                            </a>
                                            <a class="btn btn_more" href="#" target="_blank">
                                                READ MORE<i class="decoration a_add"></i>
                                            </a>
                                        </div>
                                    </div>
                                                                <div class="swiper-slide game_slide" data-type="斩兽之刃手游">
                                        <div class="box_img">
                                            <div class="decoration b_0">
                                                <i></i><i></i><i></i><i></i>
                                            </div>
                                            <a class="img" href="#" target="_blank">
                                                <i></i><i></i><i></i><i></i>
                                                <div class="i game_lazy"
                                                     data-background="#"></div>
                                                <div class="title">
                                                    <p><span>
                                                    </span></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="box_text">
                                            <div class="decoration b_0">
                                                <i></i><i></i><i></i><i></i>
                                            </div>
                                            <a class="brief" href="#" target="_blank">
                                                <p><span></span></p>
                                            </a>
                                            <a class="btn btn_more" href="#" target="_blank">
                                                READ MORE<i class="decoration a_add"></i>
                                            </a>
                                        </div>
                                    </div>


                            </div>
                        </div>
                        <div id="game_nav_swiper" class="swiper-container game_nav_swiper game_nav_stop">
                            <div class="swiper-wrapper game_nav_wrapper">
                                                                <div class="swiper-slide game_nav_slide">
                                        <a class="btn btn_nav" href="javascript:void(0);"
                                           data-type="凹凸世界手游">
                                            <p>凹凸世界手游<i></i></p>
                                            <span>AUTO</span>
                                        </a>
                                    </div>
                                                                <div class="swiper-slide game_nav_slide">
                                        <a class="btn btn_nav" href="javascript:void(0);"
                                           data-type="斩兽之刃手游">
                                            <p>斩兽之刃手游<i></i></p>
                                            <span>BLADE OF AV</span>
                                        </a>
                                    </div>
                                                                <div class="swiper-slide game_nav_slide">
                                        <a class="btn btn_nav" href="javascript:void(0);"
                                           data-type="凹凸砖块">
                                            <p>凹凸砖块<i></i></p>
                                            <span>AUTO</span>
                                        </a>
                                    </div>

                            </div>
                        </div>
                        <a id="btn_game_nav_prev" class="btn_game_nav_prev" href="javascript:void(0);"></a>
                        <a id="btn_game_nav_next" class="btn_game_nav_next" href="javascript:void(0);"></a>
                        <a id="btn_game_prev" class="decoration d_prev"
                           href="javascript:void(0);">
                            <div class="circle"></div>
                            <div class="arrow"></div>
                        </a>
                        <a id="btn_game_next" class="decoration d_next"
                           href="javascript:void(0);">
                            <div class="circle"></div>
                            <div class="arrow"></div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide home_slide" data-hash="about">
                    <div class="box_about">
                        <div class="people">
                            <div class="decoration b_0">
                                <i></i><i></i><i></i><i></i>
                            </div>
                            <i style="background:url('#');"></i>
                        </div>
                        <div class="people">
                            <div class="decoration b_0">
                                <i></i><i></i><i></i><i></i>
                            </div>
                            <i style="background:url('#);"></i>
                        </div>
                        <div class="brief">
                            <div class="decoration b_0">
                                <i></i><i></i><i></i><i></i>
                            </div>
                            <div class="content">
                                <i class="decoration a_add"></i>
                                <div class="title_zh">关于我们</div>
                                <div class="title_en">ABOUT US</div>
                                <i class="decoration a_min"></i>
                                <div class="text">
                                    <div class="box_scale">

                                    </div>
                                </div>
                                <a class="btn btn_open" href="/about.html#timeline">
                                    <span>MORE<i></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="decoration a_top"></i>
        <i class="decoration a_bottom"></i>
        <a id="logo" class="logo" href="/home/index"></a>
        <div id="box_footer" class="box_footer">
            <style id="style_footer">
            .footer {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 2rem;
            }

            .footer .box {
                position: relative;
                max-width: 12rem;
                height: 100%;
                margin: 0 auto;
            }

            .footer .box .logo {
                display: block;
                position: absolute;
                top: 0;
                left: auto;
                right: 0.3rem;
                bottom: 0;
                margin: auto 0;
                width: 0.83rem;
                height: 0.82rem;
                background: url('https://image.gaeamobile.net/image/20190819/121437/logo.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 0.83rem 0.82rem;
            }

            .footer .box .content {
                position: relative;
                overflow: hidden;
                width: calc(100% - 60 * 0.01rem - 83 * 0.01rem);
                height: 100%;
                padding: 0.2rem 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .footer .box .content p {
                margin-bottom: 0.05rem;
                text-align: right;
                font-size: 0;
            }

            .footer .box .content p:last-child {
                margin: 0;
            }

            .footer .box .content p a,
            .footer .box .content p span {
                display: inline-block;
                text-align: center;
                line-height: 0.24rem;
                color: #ffffff;
                font-size: 0.14rem;
            }

            .footer .box .content p a {
                padding: 0 0.05rem;
                text-indent: 0.02rem;
                letter-spacing: 0.02rem;
            }

            .footer .box .content p a:hover {
                color: #a5a3b6;
            }

            .footer .box .content p a:hover span {
                color: #a5a3b6;
            }

            .footer .box .content p a.m {
                text-indent: 0rem;
                letter-spacing: 0rem;
                padding: 0 0.08rem;
            }

            .footer .box .content p a span {
                text-indent: 0rem;
                letter-spacing: 0rem;
            }

            .footer .box .content p > span {
                padding: 0 0.05rem;
            }
    </style>
            <footer id="footer" class="footer">
            <div class="box">
                <div class="content">
                    <p>
                        <a href="#" target="_blank">家长监护工程</a><span>|</span>
                        <a href="#" target="_blank">纠纷处理</a><span>|</span>
                    </p>
                    <p><span>网络文化经营许可证： 京网文[2019]3669-352京ICP证: 京B2-20191828</span></p>
                    <p><span>京ICP备 19009550号 ©2019-2020 北京第零世界科技有限公司 版权所有</span></p>

                </div>
            </div>
            </footer>

            </div>
    </div>
</div>


<div id="nav_page" class="nav_page">
        <div class="box_nav_page">
            <div id="nav_page_swiper" class="swiper-container nav_page_swiper">
                <div class="swiper-wrapper nav_page_wrapper">
                    <div class="swiper-slide nav_page_slide">
                        <span>01</span>
                        <i class="decoration c_0"></i>
                    </div>
                    <div class="swiper-slide nav_page_slide">
                        <span>02</span>
                        <i class="decoration c_1"></i>
                    </div>
                    <div class="swiper-slide nav_page_slide">
                        <span>03</span>
                        <i class="decoration c_2"></i>
                    </div>
                    <div class="swiper-slide nav_page_slide">
                        <span>04</span>
                        <i class="decoration c_3"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_next">
            <div class="mouse"></div>
            <div class="arrow"></div>
        </div>
    </div>

<div class="side-window hide">
        <i class="sw-bg"></i>
        <div class="inner">
            <a href="#" target="_blank" class="btn_download"></a>
            <img class="qr-download" src="#" alt="">
        </div>
    </div>

    <script type="text/html" id="video_popup">
        <div class="decoration b_0">
            <i></i><i></i><i></i><i></i>
        </div>
        <video src="" autoplay="autoplay" loop="loop" controls="controls"></video>
    </script>
    <script type="text/html" id="periphery_popup">
        <div class="box_img">
            <div class="decoration b_0">
                <i></i><i></i><i></i><i></i>
            </div>
            <a class="img" href="javascript:void(0);">
                <div class="i"></div>
            </a>
        </div>
        <div class="box_text">
            <div class="decoration b_0">
                <i></i><i></i><i></i><i></i>
            </div>
           <div class="brief">
                <p class="t1"><em style="width:0.2rem;"></em><a href="javascript:void(0);"><span></span></a></p>

            </div>
            <a class="btn btn_more" href="javascript:void(0);">
                BUY NOW<i class="decoration a_add"></i>
            </a>
        </div>
    </script>


<div id="community" class="community">
    <a href="#" target="_blank"></a><i></i>
    <a href="#" target="_blank"></a><i></i>
    <a href="#" target="_blank"></a>

</div>

<nav id="nav" class="nav active">
    <div class="box">
        <div class="n active">
            <a href="/home/index#index">首页</a>
        </div>
        <div class="n">
            <a href="/home/index#news">新闻</a>
        </div>
        <div class="n">
            <a href="/home/index#game">游戏</a>
        </div>
        <div class="n">
            <a href="/home/index#about">关于我们</a>
        </div>
        <i></i>
    </div>
    <div class="menu">
        <i></i><i></i>
        <i></i><i></i>
        <i></i><i></i>
    </div>
</nav>

<div id="loading" class="loading">
    <div class="content">
        <div class="decoration b_1">
            <i></i><i></i><i></i><i></i>
        </div>
        <div class="logo"></div>
        <div class="progress">
            <span>0</span>
            <span>%</span>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/public.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.min.js' %}"></script>
<!--2020.04.04全国抗击疫情哀悼日灰色北京-->
<script>
    var timestamp2 = (new Date()).valueOf();
    function format(shijianchuo)
    {
        //shijianchuo是整数，否则要parseInt转换
        var time = new Date(shijianchuo);
        var y = time.getFullYear();
        var m = time.getMonth()+1;
        var d = time.getDate();
        var h = time.getHours();
        var mm = time.getMinutes();
        var s = time.getSeconds();
        if( d == 4 && m == 4 & y == 2020) {
            $('body').addClass('gray');
        }
    }
    format(timestamp2);
</script>
</body>
</html>
