body{font-family:'Microsoft Yahei';font-size:14px;color:#666;}
html,body{height:100%;}
.bg_img{
    pointer-events:none;
    position:fixed;
    z-index:-1;
    top:0;left:0;height:0;bottom:0;
    height:100%;
    width:100%;
    opacity:0;
    background:url(../img/bg_1.png);
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.active_img {
    opacity:1;
}
.head_nav {
    height: 10%;
    background: gray;
}
.body_con{position:relative;overflow:hidden;z-index:0;min-width:800px;max-width:2560px;height:90%;margin:0 auto}

.body_container {
    height: 100%;
    width: 100%;
}
.logo {
    display: inline-block;
    padding-left: 5%;
    height: 100%;
    width: 10rem;
}
.title_link {
    font-size:1.2rem;
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 30rem;
    float: right;
}

.title_link ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    height: 100%;
    width: 25rem;
    transition: all 0.8s ease-in-out;
}
.hide_title{
    cursor: pointer;
    position: absolute;
    width: 3rem;
    height: 4rem;
    margin: 1.6rem 1rem;
    top: 0;
    right: 1%;
}

.title_link ul li{
    display: inline-block;
    width: 8rem;
    text-align: center;
    -webkit-transition: 0.2s all liner;
    -o-transition: 0.2s all liner;
    transition: 0.2s all liner;
    cursor: pointer;
}

.title_link ul li a{
    display: inline-block;
    height: 80%;
    line-height: 6rem;
}
.title_link ul li a:hover {
    border-bottom: 2px solid red;

}
.active {
    border-bottom: 2px solid red;
}
.active_right {
    content: '<hr />';
}
.right_hr {
    display: inline-block;
    width: 100%;
    margin-left: 60%;
    transition: 0.8s all ease-in-out;
}

.right_icon {
    opacity:1;
    transition: 1s opacity ease-in-out;
    background: no-repeat 0 0 url(../img/triangle.png);
}
.right_nav {
    font-size: 0.7rem;
    width: 10%;
    height: 90%;
    float: right;
}
.right_nav ul {
    background: no-repeat 75% url(../img/right.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    height: 40%;
    width: 100%;
}
.right_nav ul li{
    display: inline-block;
    height: 20%;
    width: 77%;
    overflow: hidden;

}
.right_nav ul li a{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.news_box {
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
}
.swiper-news {
    width: 40rem;
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
    --swiper-theme-color: #ff6600;
    --swiper-preloader-color: #00ff33;
}
// 自定义分页器样式
.news_box button {
    display:none;
}
.news_box .button_news {
    cursor: pointer;
    width: 6rem;
    height: 4rem;
    margin:0 2rem;
    margin-top: -2rem;
    outline: none;
    text-align:center;
    line-height:100%;
    padding:0.3em;
    border: 0px;
    border-radius:30px;
    -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.2);
            box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
    color:#fefee9;
    border:0.2px solid #2299ff;
    background-repeat:repeat;
    background-size:auto;
    background-origin:padding-box;
    background-clip:padding-box;
    background-color:#3399ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeff9),to(#3399ff));
    background: -o-linear-gradient(top, #eeeff9 0%,#3399ff 100%);
    background: linear-gradient(to bottom, #eeeff9 0%,#3399ff 100%);
}
.news_box .button_news:hover{
    background:#268DFF;
}
.news_box .button_news_prev {
    margin-left: 30%;
}
.news_box .button_news_more{
    margin-left: 8rem;
}
.news_img {
    display:block;
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
}
.img_box {
    cursor: pointer;
    border: 2rem solid #aeaed4;
    width: 40rem;
    height: 20rem;
    overflow: hidden;
}
.news_img:hover{
    transform:scale(1.2);
}
/*页尾隐藏在页面下方，完全透明显示出来后多高内容 -webkit- -moz- 不同浏览器的布局属性*/
.box_footer{position:absolute;top:auto;left:0;right:0;bottom:-6rem;z-index:1;height:7rem;opacity:0;background:rgba(0,0,0,0.6);-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s}
/*鼠标移动到什么区域可以显示页尾，中间高两边低*/
.box_footer:before{content:'';display:block;position:absolute;top:auto;left:0;right:0;bottom:0;z-index:0;width:20rem;height:130%;margin:0 auto}
/*鼠标移动到该区域，显示出来，y轴向上移动页面下方的距离，从下向上滑入的效果*/
.box_footer:hover{opacity:0.6;-webkit-transform:translateY(-2rem);-ms-transform:translateY(-2rem);transform:translateY(-6rem)}
/*显示出来后footer的大小*/
.box_footer .footer{height:6rem}
.footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 6rem;
}
/*footer显示区域*/
.footer .box {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
/*底部logo显示，可有可无*/
.footer .box .logo {
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    right: 0.3rem;
    bottom: 0;
    margin: auto 0;
    width: 0.83rem;
    height: 0.82rem;
    background: url('#');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.83rem 0.82rem;
}
/*内容显示*/
.footer .box .content {
    position: relative;
    overflow: hidden;
    width: calc(100% - 60 * 0.01rem - 83 * 0.01rem);
    height: 100%;
    padding: 0.2rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer .box .content p {
    margin-bottom: 0.05rem;
    text-align: center;
    font-size: 0;
}
/*最后一个子元素*/
.footer .box .content p:last-child {
    margin: 0;
}

.footer .box .content p a, .footer .box .content p span {
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    color: #ffffff;
    font-size: 1rem;
}

.footer .box .content p a {
    padding: 0 0.05rem;
    text-indent: 0.02rem;
    letter-spacing: 0.02rem;
}

.footer .box .content p a:hover {
    color: #42ad46;
}

.footer .box .content p a:hover span {
    color: #42ad46;
}

.footer .box .content p a.m {
    text-indent: 0rem;
    letter-spacing: 0rem;
    padding: 0 0.08rem;
}

.footer .box .content p a span {
    text-indent: 0rem;
    letter-spacing: 0rem;
}

.footer .box .content p > span {
    padding: 0 0.05rem;
}
.about_box {
    display: block;
    height: 100%;
    width: 100%;
}
.about_us {
    display: inline-block;
    height:50%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    text-align: left;
}
.about_us p{
    font-size:15px;
    margin:10px;
    text-indent:1rem;
    text-align: left;
}
.contact_us {
    display: inline-block;
    height: 50%;
    width: 80%;
    margin-left: 10%;
    text-align:left;
}
.contact_us p {
    font-size:15px;
    margin: 10px;
    text-align: left;
    text-indent: 2rem;
}
.news_graphic {
    color: #f7f7f7;
    display: inline-block;
    height: 74%;
    width: 100%;
    margin-top:3%;
}
.news_change {
    font-size: 16px;
    display: inline-block;
    height: 20%;
    width: 100%;
}
.news_change .pre_next {
    display: inline-block;
    height: 100%;
    width: 70%;
}
.news_change .pre_next ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    height: 100%;
    width: 100%;
}
.news_change .pre_next ul li{
    display: inline-block;
    width: 20%;
    text-align: center;
}
.news_change .pre_next ul li a{
    display: inline-block;
    border:2px solid #42ad46;
    padding:0px 35px;
    height: 50%;
    line-height: 5rem;
}
.news_change .more {
    display: inline-block;
    height: 100%;
    width: 30%;
    float: right;
}
.news_change .more ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    height: 100%;
    width: 100%;
}
.news_change .more ul li{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.news_change .more ul li a{
    display: inline-block;
    border: 2px solid #42ad46;
    padding: 2px 35px;
    height: 50%;
    line-height:5rem;
}