body{font-family:'Microsoft Yahei';font-size:14px;color:#666;}
html,body{height:100%}
.header {
    height: 10%;
    background: gray;
}
.logo {
    display: inline-block;
    padding-left: 5%;
    height: 100%;
    width: 10%;
}
.title_link {
    font-size:20px;
    text-align: center;
    display: inline-block;
    height: 100%;
    width: 60%;
    float: right;
    margin-right: 5%;
}
.title_link ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style:none;
    height: 100%;
    width: 100%;
}
.title_link ul li{
    display: inline-block;
    width: 20%;
    text-align: center;
}
.title_link ul li a{
    display: inline-block;
    height: 100%;
    line-height: 4em;
}

.right_con {
    font-size: 20px;
    background: #42ad46;
    width: 10%;
    height: 80%;
    float: right;
}
.right_con ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style:none;
    height: 100%;
    width: 100%;
}
.right_con ul li{
    display: inline-block;
    height: 20%;
    width: 100%;

}
.right_con ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 5em;
    text-align: center;
}
.body {
    height:80%;
    /*background: red;*/
}
.footer {
    background: red;
	border-top:2px solid #42ad46;
}
.footer:hover{
    background: yellow;
	border-top:2px solid #42ad46;
}
.foot_link{text-align:center;margin-top:30px;}
.foot_link a,.foot_link span{color:#4e4e4e;}
.foot_link a:hover{color:#ff8800}
.foot_link span{padding:0 10px}
.footer p{text-align:center; margin-top:10px;}

.about_us {
    display: inline-block;
    height:50%;
    margin-top: 5%;
    margin-left:5%;
}
.about_us p{
    font-size:15px;
    margin:10px;
    text-indent:2em;
}
.contact_us {
    display: inline-block;
    height: 50%;
    margin-left: 5%;
}
.contact_us p {
    font-size:15px;
    margin: 10px;
    text-indent: 2em;
}
.news_graphic {
    color: #f7f7f7;
    display: inline-block;
    height: 80%;
    margin-top:5%;
}
.news_change {
    display: inline-block;
    height: 20%;
}
.news_change .pre_next {
    display: inline-block;
    height: 100%;
    width: 70%;
}
.news_change .pre_next ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style:none;
    height: 100%;
    width: 100%;
}
.news_change .pre_next ul li{
    display: inline-block;
    width: 20%;
    text-align: center;
}