.news_table_con {
    background: no-repeat url(../img/news_more_bg.png);
    width: 100rem;
    height: 50rem;
    margin-top:2.2rem;
    margin-left: 10rem;
}

.news_table {
    display: inline-block;
    font-size: 1.5rem;
    width: 85%;
    height: 80%;
    margin-top:4%;
    margin-left: 5rem;
}
.news_table .news_row {
    cursor: pointer;
    text-align: left;
    display: inline-block;
    height: 5.37rem;
    width: 79.25rem;
    line-height:3rem;
    margin-top: 1rem;
    margin-left: 5%;
    color: #F2F2F2;
    font-size: 1.rem;
    background: url(../img/news_row.png)
}
.news_row::before {
    content: attr(title);
    position: absolute;
    left: 93.5rem;
    margin-top: 4rem;
    width: 4%;
    line-height: 3.6rem;
    height: 3.5rem;
    -webkit-transform: translate(-20%, -50%);
    padding: 0 2rem;
    background: no-repeat 6rem 1.3rem #45b29d url(../img/add.png);
    font-size: 1.3rem;
    color: #272727;
    transition: all 0.3s ease-in-out;
}
.news_row:hover::before{
    background: no-repeat 6rem 1.3rem #e27a3f url(../img/circle.png);
}
.news_table .news_row:hover {
    background: #3f505a;
}
.news_table .news_img {
    display: inline-block;
    height: 4.5rem;
    width: 8rem;
    margin-top: 0.7rem;
    margin-left: 1rem;
}
.news_table .news_time {
    display: inline-block;
    width: 15%;
    font-size: 1.2rem;
    margin-left: 5.5rem;
}
.news_table .news_title {
    display: inline-block;
    width: 60%;
    height: 80%;
    position: relative;
    bottom: 1.4rem;
}

.news_table ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    margin:1rem 5rem;
}
.news_table ul li{
    display: inline-block;
    width: 3rem;
    height: 100%;
    line-height: 100%;
    text-align: center;
    -webkit-transition: 0.2s all liner;
    -o-transition: 0.2s all liner;
    transition: 0.2s all liner;
    cursor: pointer;
}
.text-center {
    position: relative;
    bottom: -0.5rem;
    left: 2rem;
    right: 3rem;
    height: 2rem;
    color: #F2F2F2;
    line-height: 2rem;
    font-size: 1.2rem;
}
.text-center nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    margin:1rem;
    margin-left: 5.5rem;
    margin-right: 8rem;
}
.text-center nav ul li {
    display: inline-block;
    width: 3rem;
    height: 100%;
    line-height: 100%;
    text-align: center;
    -webkit-transition: 0.2s all liner;
    -o-transition: 0.2s all liner;
    transition: 0.2s all liner;
    cursor: pointer;
}
#pages ul li a{
    display: inline-block;
    margin: 0 10%;
    width:2rem;
    height:2rem;
    color: #272727;
    line-height: 2rem;
    background-color: #45b29d;
}
#page_now {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    background-color: #e27a3f;
    color: #272727;
    margin-top:0.05rem;
    margin-left:0.3rem;
    margin-right:0.3rem;
}
#pages ul li a.next_prev {
    width: 4.5rem;
    font-size: 1rem;

}
#prev {
    background: no-repeat #45b29d 15% 50% url(../img/arrow_prev.png)
}
#next {
    background: no-repeat #45b29d 86% 52% url(../img/arrow.png)
}