.news_title {
    font-size: 24px;
    text-align: center;
    line-height: 8rem;
    height: 8rem;
    width:80%;
    margin: 0 10%;
}
.news_date {
    font-size: 14px;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    width: 80%;
    margin: 0 10%;
}
.news_content {
    text-align:center;
    height: 70%;
    width: 80%;
    margin: 0 10%;
    overflow-y:auto;
    background:#d1daf3;
}
.news_bg_img{
    pointer-events:none;
    position:fixed;
    z-index:2;
    top:0;left:0;height:0;bottom:0;
    height:100%;
    width:100%;
    opacity:0;
    background:url(../img/bg_1.jpeg);
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
