.news_title {
    font-size: 24px;
    text-align: center;
    line-height: 8rem;
    height: 8rem;
    width: 60%;
    margin:0 20%;
}
.news_date {
    font-size: 14px;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    width: 60%;
    margin:0 20%;
}
.news_content {
    width: 60%;
    margin: 5rem 20%;
}